.button-cont{
    display: flex;
    justify-content: space-evenly;
}

#rock{
    width: 100px;
    height: 75px;
}

#paper{
    width: 100px;
    height: 75px;
}

#scissors{
    width: 100px;
    height: 75px;
}

h1{
    text-align: center;
}

.refresh{
    display: flex;
    justify-content: center;
}

#restart{
    margin-top: 30px;
    width: 200px;
    height: 125px;
}